body { /* padding-top: 70px; ONLY HAVE THIS WITH THE NAVBAR*/
 font-family: 'Open Sans', Helvetica, sans-serif;

}

h1 {
font-size:450%;
font-weight: bold;
}

h2 {
  font-size: 260%;
  padding: 10px;
}

p {
  font-size: 110%;
}


.nav {
  margin: 25px;
}




.navbar-brand {
  font-size:250%;

font-weight: bold;
 padding-top: 40px;
 color: #222;
}



.nav > li {
  font-size: 120%;
}


.navbar-static-top .navbar-collapse.in {
    overflow-y: visible; /* Bootstrap default is "auto" */
}

 .titletab  {
   background: #9cc;
/* OLD BLUE  background: #8bb; */
  padding: 10px;
  margin: 25px;
  width:25%
}


#gabriellecalise {
text-decoration: none;
}

 #gabriellecalise > a{
color: #000;
}
#gabriellecalise > a:hover{
  text-decoration: none;
}


#face {
    height: 100vh;
    background: url('../images/gabriellebig.jpg') no-repeat center center fixed;
    background-size: 100%;
  padding: 5px;

}


#about {
  height: 550px;
  padding: 25px;
  background-color: #9cc;
}

.writing {
  height: 1300px;
  padding-top: 110px;
  background-color: #9cc;
}

.portfolio_pic{
  padding: 12px;
}
.resume {
  height: 900px;
  padding-top: 90px;
  background-color: #9cc;
}


#contact_panel {
  text-align: center;
  height: 200px;
  padding: 60px;
}

#projects {
  padding: 100px 0px 10px 70px;
  background-color: #9cc;

  }




.img-responsive {
    margin: 0 auto;
}

footer
{ background-color: #323333;
  color: #fff;
  padding: 30px;
  text-align: center;
  height: 80px;
}


@media screen and (max-width: 992px) {
    #parallax {
        background-attachment: scroll;
    }

/*formerly min width*/
@media (max-width: 768px) {
  .navbar-brand {font-size:270%;
                  padding: 40px;}
  #face {  background-size: auto 50%;
            height: 1300px;
            background-position: 50% 0px;
            background-color: #9cc;
}

  .resume {height: 1200px;}

}

@media (max-width: 600px) {
  h1 {font-size: 150%;}
  .navbar-brand {font-size: 180%;
                padding: 15px;}



  #face {   background-size: auto 30%;
            /* the 30% is what cropped the background image to show only that slice of your face. i used this blog -- if you ever need to do this again, here's how: https://www.sitepoint.com/css3-background-size-property/ and the sheep http://blogs.sitepointstatic.com/examples/tech/background-size/index.html */
            background-position: 50% 0px; /*without this, you will have white space above the picture. i put it in the mobile and ipad mediaquery */
            height: 660px;
            background-color: #9cc; /* at the bottom there will be extra white space, so i added this */

          /* works but too small  background-position: 50% 0px;
                     height: 660px; */

          /*background-size: 100px 200px; - if you do this, it will not show up at all */

            /*this did NOT work --> background-size: cover; - do not do cover*/
        }

  /*#mobileface    {background-image: url("../images/mobilegab1.jpg");
                height: 660px;
                width: 100%;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-position: 50% 0px;
                margin: 0px;
                padding: 0px;}*/

  #about { height: 1000px;}
  #contact_panel {height:350px;}
  .contact_button {padding: 10px;}
  .writing {padding-top:50px;
        height:2600px;}
  .resume {padding-right:20px;}

}
